@model CodeTheWay.Web.Ui.Models.MyViewModels.WeatherViewModel.WeatherViewModel
@*
    ViewData["Title"] = "Index";
*@
<h1>Index</h1>
<div>
    <table>
        <tr>
            <th>
                Date
            </th>
            <th>
                Highest Temperature
            </th>
            <th>
                Lowest Temperature
            </th>
            <th>
                Average Wind Speed
            </th>
            <th>
                Total Precipitation
            </th>
        </tr>
    </table>
</div>
<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighTemp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LowTemp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgWindSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrecipitation)
        </td>
        <td>
            <div>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </div>
            </div>
            <div>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </div>
            <div>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </td>
    </tr>
    }
</table>
<div>
    <a asp-action="Create">Create a container.</a>
</div>
